button {
  width: 33%;
  min-width: 50px;
  min-height: 50px;
}

body {
  width: 70%
}

.operators button {
  width: 100%;
}

.display {
  max-height: 50px;
  margin: 15px 0 5px 0;
}

#output {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid navy;
}